.synonym-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.synonym-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px;
    width: 50%;
}

.synonym-container-input {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px;
    width: 50%;
}

.synonym-container-lang {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 15px;
    width: 50%;
}

.synonym-container-lang > * {
    margin: 10px;
}

.synonym-results-label {
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px 6px 30px;
}

.divider {
    padding-top: 10px;
    padding-bottom: 10px;
}