<div class="tutorial-text">
    <h1>Thesaurus</h1>
    <h2>How to use:</h2>
    <ul>
        <li>Enter the phrase / word you wish to find synonyms for into the input box</li>
        <li>Select the input language.</li>
        <li>Click the <mat-icon>search</mat-icon> icon.</li>
    </ul>
</div>

<div class="synonym-page-container">
    <div class="synonym-container-input">
        <mat-form-field appearance="outline">
            <mat-label>Input</mat-label>
            <input matInput placeholder="Enter what you want to find synonyms for."
                   [(ngModel)]="inputText" [formControl]="inputTextFormControl" ngDefaultControl
                   (keydown.enter)="thesaurize()" (input)="showError = false">
            <button matSuffix mat-icon-button (click)="thesaurize()">
                <mat-icon>search</mat-icon>
            </button>
            <mat-error *ngIf="inputTextFormControl.hasError('required')">
                Field is required
            </mat-error>
            <mat-hint *ngIf="!inputTextFormControl.hasError('required') && showError">
                <span style="color: firebrick">Could not get synonyms.</span>
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="synonym-container-lang">
        <app-language-selector [(selected)]="inputLanguage" [showError]="showError" [languages]="locales" [languageOptionMapper]="languageOptionMapper" ></app-language-selector>
    </div>
    <div class="synonym-container">
        <label *ngIf="synonyms.length > 0" class="synonym-results-label">Synonyms</label>
        <div *ngFor="let synonym of synonyms">
            <mat-card>
                <mat-card-title>
                </mat-card-title>
                <mat-card-content *ngIf="synonym.words.length > 0">
                    <ul>
                        <li *ngFor="let synonymWord of synonym.words">
                            {{synonymWord}}
                            <button mat-button matTooltip="Copy to clipboard" [cdkCopyToClipboard]="synonymWord">
                                <mat-icon>content_copy</mat-icon>
                            </button>
                        </li>
                    </ul>
                </mat-card-content>
                <mat-card-subtitle>
                    {{synonym.category}}
                </mat-card-subtitle>
            </mat-card>
            <mat-divider class="divider"></mat-divider>
        </div>
    </div>
</div>