<div class="tutorial-text">
    <h1>Dictionary</h1>
    <h2>How to use:</h2>
    <ul>
        <li>Enter the phrase / word you wish to translate into the input box</li>
        <li>Select the input language. Output languages are only visible after selecting the input language.</li>
        <li>Select the output language.</li>
        <li>Click the <mat-icon>search</mat-icon> icon.</li>
    </ul>
</div>

<div class="translate-page-container">
    <div class="translation-container-input">
        <mat-form-field appearance="outline">
            <mat-label>Input</mat-label>
            <input matInput placeholder="Enter what you wish to translate here."
                   [(ngModel)]="toTranslate" [formControl]="inputTextFormControl" ngDefaultControl
                   name="toTranslate" (keydown.enter)="translate()" (input)="showError = false">
            <button matSuffix mat-icon-button (click)="translate()" matTooltip="Translate!">
                <mat-icon>search</mat-icon>
            </button>
            <mat-error *ngIf="inputTextFormControl.hasError('required')">
                Field is required
            </mat-error>
            <mat-hint *ngIf="!inputTextFormControl.hasError('required') && noResponse && showError">
                <span style="color: firebrick">Translation does not exist.</span>
            </mat-hint>
            <mat-hint *ngIf="!inputTextFormControl.hasError('required') && customError.length > 0 && showError">
                <span style="color: firebrick">{{customError}}</span>
            </mat-hint>
        </mat-form-field>
    </div>
    <div class="translation-container-lang">
        <app-language-selector [(selected)]="inputLanguage" [showError]="triedOnce" [languages]="sourceLanguages" ></app-language-selector>
        <app-language-selector [(selected)]="outputLanguage" [showError]="triedOnce" [languages]="targetLanguages.get(inputLanguage) || []" label="Output language"></app-language-selector>
    </div>
    <div class="translation-container">
        <label *ngIf="translations.length > 0" class="translation-results-label">Translation results</label>
        <div *ngFor="let translation of translations">
            <mat-card>
                <mat-card-title>
                    {{translation.translation}}
                    <button mat-button matTooltip="Copy to clipboard" [cdkCopyToClipboard]="translation.translation">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </mat-card-title>
                <mat-card-content *ngIf="translation.synonyms.length > 0">
                    Synonyms:
                    <ul>
                        <li *ngFor="let synonym of translation.synonyms">{{synonym}}</li>
                    </ul>
                </mat-card-content>
                <mat-card-subtitle *ngIf="translation.meanings.length > 0">
                    <span *ngFor="let context of translation.meanings" class="word-context">
                        {{context}}
                    </span>
                </mat-card-subtitle>
            </mat-card>
            <mat-divider class="divider"></mat-divider>
        </div>
    </div>
</div>