.translate-page-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.translation-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}