.translate-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.translation-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px;
    width: 50%;
}

.translation-container-input {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 15px;
    width: 50%;
}

.translation-container-lang {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 15px;
    width: 50%;
}

.translation-container-lang > * {
    margin: 10px;
}

.translation-results-label {
    align-self: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 6px;
}

.divider {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tutorial-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}