
<div class="min100">
    <mat-toolbar>
        <button mat-button (click)="toggleMenu()">
            <mat-icon>menu</mat-icon>
        </button>

        <h2>Dictionary and Thesaurus</h2>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav [mode]="'side'" class="sidenav">
            <div class="navbar">
                <button mat-button>
                    <a [routerLink]="['/']" >
                        <span>Dictionary</span>
                    </a>
                </button>
                <button mat-button>
                    <a [routerLink]="['/thesaurus']" >
                        <span>Thesaurus</span>
                    </a>
                </button>
            </div>
        </mat-sidenav>
        <mat-sidenav-content>
            <ng-content></ng-content>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>